<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Site de Vagas - Encontre sua próxima oportunidade de emprego</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">
        <main>
            <div class="jumbotron">
                <h1 class="display-4">Site de Vagas</h1>
                <p class="lead">Encontre sua próxima oportunidade de emprego</p>
            </div>

            <main>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Encontre sua próxima oportunidade de emprego</h2>
                        <p class="card-text">O Site de Vagas é uma plataforma para ajudar pessoas a encontrar a vaga de
                            emprego perfeita. Nós trabalhamos
                            com as melhores empresas para oferecer as melhores oportunidades para você.</p>
                        <a href="/login" class="btn btn-lg btn-linkedin">
                            <i class="fab fa-linkedin mr-2"></i>Entrar com LinkedIn
                        </a>
                    </div>
                </div>
            </main>

            <footer class="bg-dark text-white fixed-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p>© 2023 Site de Vagas. Todos os direitos reservados.</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">Termos de uso</a></li>
                                <li class="list-inline-item"><a href="#">Política de privacidade</a></li>
                                <li class="list-inline-item"><a href="#">Sobre nós</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        </main>

    </div>
</body>


</html>
